<!DOCTYPE html>
<html lang="en">
<head>
  <title>Red Window</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Red Window</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Update</a></p>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav hidden-xs">
      <ul class="nav nav-pills nav-stacked">
        <h2>Red Window</h2>
        <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Update</a></p>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-10">
      <hr>
      <h3>Fox News</h3>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h3>{{news.title_find1}}</h3>
            <img src="{{news.img_find1}}" class="img-responsive" style="width:100%" alt="Image">
            <p>{{news.content_find1}}</p>
            <p><a class="btn btn-secondary" href="{{news.link_1}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h3>{{news.title_find2}}</h3>
            <img src="{{news.img_find2}}" class="img-responsive" style="width:100%" alt="Image">
            <p>{{news.content_find2}}</p>
            <p><a class="btn btn-secondary" href="{{news.link_2}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h3>{{news.title_find3}}</h3>
            <img src="{{news.img_find3}}" class="img-responsive" style="width:100%" alt="Image">
            <p>{{news.content_find3}}</p>
            <p><a class="btn btn-secondary" href="{{news.link_3}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <hr>
      <h3>OANN</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h3>{{news.oann_title1}}</h3>
            <img src="{{news.oann_img1}}" class="img-responsive" style="width:100%" alt="Image">
            <p><a class="btn btn-secondary" href="{{news.oann_link1}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h3>{{news.oann_title2}}</h3>
            <img src="{{news.oann_img2}}" class="img-responsive" style="width:100%" alt="Image">
            <p><a class="btn btn-secondary" href="{{news.oann_link2}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h3>{{news.oann_title3}}</h3>
            <img src="{{news.oann_img3}}" class="img-responsive" style="width:100%" alt="Image">
            <p><a class="btn btn-secondary" href="{{news.oann_link3}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h3>{{news.oann_title4}}</h3>
            <img src="{{news.oann_img4}}" class="img-responsive" style="width:100%" alt="Image">
            <p><a class="btn btn-secondary" href="{{news.oann_link4}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h3>{{news.oann_title5}}</h3>
            <img src="{{news.oann_img5}}" class="img-responsive" style="width:100%" alt="Image">
            <p><a class="btn btn-secondary" href="{{news.oann_link5}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <hr>
      <h3>NewsMax</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h3>{{news.newsmax_title}}</h3>
            <img src="{{news.newsmax_img}}" class="img-responsive" style="width:100%" alt="Image">
            <p><a class="btn btn-secondary" href="{{news.newsmax_link}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h4>{{news.nmusa_title1}}</h4>
            <img src="{{news.nmusa_img1}}" class="img-responsive" style="width:100%" alt="Image">
            <p><a class="btn btn-secondary" href="{{news.nmusa_link1}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h4>{{news.nmusa_title2}}</h4>
            <img src="{{news.nmusa_img2}}" class="img-responsive" style="width:100%" alt="Image">
            <p><a class="btn btn-secondary" href="{{news.nmusa_link2}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h4>{{news.nmusa_title3}}</h4>
            <img src="{{news.nmusa_img3}}" class="img-responsive" style="width:100%" alt="Image">
            <p><a class="btn btn-secondary" href="{{news.nmusa_link3}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h4>{{news.nmusa_title4}}</h4>
            <img src="{{news.nmusa_img4}}" class="img-responsive" style="width:100%" alt="Image">
            <p><a class="btn btn-secondary" href="{{news.nmusa_link4}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <hr>
      <h3>Brietbart</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h3>{{news.br_title}}</h3>
            <img src="{{news.br_img}}" class="img-responsive" style="width:100%" alt="Image">
            <p>{{news.br_excerpt}}</p>
            <p><a class="btn btn-secondary" href="{{news.br_link}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h3>{{news.br_title1}}</h3>
            <p><a class="btn btn-secondary" href="{{news.br_link1}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h3>{{news.br_title2}}</h3>
            <p><a class="btn btn-secondary" href="{{news.br_link2}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h3>{{news.br_title3}}</h3>
            <p><a class="btn btn-secondary" href="{{news.br_link3}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="well">
            <h3>{{news.br_title4}}</h3>
            <p><a class="btn btn-secondary" href="{{news.br_link4}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

</body>
</html>
